* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  transition: all 0.1s ease-in-out;
}

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1d1d1e;
  color: #ffffff;
}

body .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
}

.header {
  width: 100%;
  min-width: 800px;
  min-height: 65px;
  background-color: #131313;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#navbar {
  display: initial;
  width: 800px;
  min-height: 50px;
  max-height: 50px;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 0px;
  background-color: #8d0301;
  border-radius: 16px;
  place-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.main {
  display: flex;
  padding-bottom: 100px;
}

.content {
  width: 800px;
  min-height: 400px;
  max-height: 400px;
  background-image: url("images/table.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-left: 200px;
  margin-right: 200px;
}
.content .content-inner {
  margin: 0 auto;
  width: 800px;
  position: absolute;
}
.content .content-inner .player {
  position: absolute;
  width: 110px;
}
.content .content-inner .player img {
  width: 45px;
  float: left;
}

.content .content-inner .tablecard img {
  width: 45px;
  float: left;
  visibility: hidden;
}

.footer {
  width: 800px;
  background-color: #8d0301;
  border-radius: 16px;
}

.sidebar {
  width: 360px;
  text-align: center;
}

#left-sidebar {
  border: white ridge;
  border-width: 3px 3px 3px 0px;
  border-radius: 0px 7px 7px 0px;
}

#right-sidebar {
  border: white ridge;
  border-width: 3px 0px 3px 3px;
  border-radius: 7px 0px 0px 7px;
}

#seat0 {
  top: 2px;
  left: 637px;
  width: 210px;
}

#seat1 {
  top: 160px;
  left: 710px;
  width: 210px;
}

#seat2 {
  top: 310px;
  left: 635px;
}

#seat3 {
  top: 320px;
  left: 425px;
}

#seat4 {
  top: 320px;
  left: 280px;
}

#seat5 {
  top: 310px;
  left: 78px;
}

#seat6 {
  top: 160px;
  left: -116px;
  width: 210px;
}

#seat7 {
  top: 7px;
  left: -51px;
  width: 210px;
}

#pot {
  top: 125px;
  left: 350px;
  position: absolute;
}

#board {
  top: 60px;
  left: 285px;
  position: absolute;
  width: 225px;
}

#carddeck {
  top: -8px;
  left: 346px;
  position: absolute;
}

#carddeck img {
  width: 100px;
  height: 88px;
}

.folded {
  filter: brightness(0.5);
}

#controls {
  display: flex;
  place-content: center;
  padding-bottom: 25px;
}

.control-button {
  padding-right: 5px;
  line-height: 0px;
}

/* Menu popup*/
.menu-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.menu-button {
  transition: all 0.3s ease;
  background-color: #FFC145;
  height: 45px;
  width: 125px;
  border-radius: 72px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
}
.menu-button.open {
  background-color: #FAFAFA;
  padding: 18px 32px;
  border-radius: 5px;
  width: 420px;
  height: 233px;
  cursor: default;
  z-index: 2;
  position: absolute;
  top: 12.5%;
}
.menu-button.open form {
  opacity: 1;
  transition: opacity 0.1s ease;
  transition-delay: 0.3s;
  height: auto;
}
.menu-button .button-copy {
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f7f7f7;
}
.menu-button form {
  transition: none;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.menu-button .cancel {
  font-size: 12px;
  text-align: center;
  margin-top: 1em;
  color: black;
}
.menu-button .cancel span {
  cursor: pointer;
}
.menu-button .cancel span:hover {
  text-decoration: underline;
}

.menu-button:hover {
  background-color: #e0aa3d;
}

.menu-button.open:hover {
  background-color: #fff;
}

.submit-button {
  display: block;
  background-color: #3498DB;
  height: 40px;
  border-radius: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  font-weight: 700;
  padding: 0 34px;
  margin: 0 auto;
}
.submit-button img {
  position: relative;
  top: 3px;
  right: 6px;
}
.submit-button:hover {
  background-color: #217dbb;
  cursor: pointer;
}

.end-button {
  display: block;
  background-color: #3498DB;
  height: 45px;
  border-radius: 20px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  font-weight: 700;
  padding: 0 34px;
}

.end-button:hover {
  background-color: #217dbb;
  cursor: pointer;
}

form * {
  outline: none;
}

.menu-container label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
}

.form--field {
  width: 420px;
  margin: 10px 0;
  color: black;
}
.form--field.-short {
  width: 120px;
  color: black;
}

.form--price {
  position: absolute;
  line-height: 38px;
  width: 16px;
  color: #C7C7C7;
  text-align: center;
}
.form--price + input {
  padding-left: 14px;
}

.form--container {
  width: 420px;
}
.form--container.-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -12px;
}

.form--element {
  background-color: #fff;
  border: 1px solid #ECECEC;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  padding: 0 4px;
  color: #3D3D3D;
  width: 100%;
  margin: 4px 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.form--element:focus {
  border: 1px solid #FFC145;
  border-radius: 2px;
}
.form--element:not(.textarea) {
  height: 30px;
}
.form--element.textarea {
  height: 80px;
  resize: none;
}
